language: java
jdk:
  - oraclejdk8

env:
  global:
    - HEROKU_API_KEY=8b0ee20e-135d-4b6f-87ae-17ed6dcc80f0

before_install:
  - ./before_install.sh
after_success:
  - mvn assembly:assembly
  - mvn heroku:deploy
  - mvn clean cobertura:cobertura coveralls:report
